body{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Top */

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff900e1a;
}
.header img{ 
    width: 250px;
    height: 50px;
    margin-top: 10px;

}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: #424242;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.menu li{
    list-style: none;
}

/* First Banner Section */

/* Text */
.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff900e1a;
}
.first-section-texts{
    display: flex;
    flex-direction: column;
    
}
.first-section-texts .first-section-title{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 font-weight: 700;
 font-size: 50px;
}
.first-section-texts .first-section-text{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    height: 52px;
    width: 868px;
}   
.fs-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first-section-texts .first-section-button{
    background-color: #FF900E;
    color: white;
    width: 180px;
    height: 64px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image */
.first-section-img{
    margin-top: 30px;
    
}
.first-section-img img{
    height: 500px;
    width: 1250px;
}


/* second section */
.second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 70px;
    margin-bottom: 130px;
}

/* image */
.grid-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    padding-left: 57px;
}

/* text */
.second-section-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
#of-our{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
#feature{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}
.second-section-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 500px;
    height: 70px;
    padding-right: 10px;
}
.second-button{
    color: white;
    background-color:  #FF900E;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 64px;
}

/* third Section */
.third-section{
    display: flex;
    gap:60px;
    justify-content: center;
    align-items: center;
    margin-bottom:130px ;
}
/* texts */
.third-section-texts{
    width: 500px;
    
}
.third-section-title{
    font-weight: 700;
    font-size: 45px;
    border-left: 5px solid #FF900E;
    padding-left: 25px;
}   
.third-section-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    margin-left: 30px;
}
.third-section-textbox{
    width: 480px;
    height: 171px;
    background-color: white;
    box-shadow: 0px 4px 30px rgb(221, 221, 221);
    padding: 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px  ;
    margin-left: 10px;
}
.textbox-title{
    font-weight: 600;
    font-size: 20px;
}
.textbox-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;   
}

/* image */
.third-section-images{
    position: relative;
    margin-right: 45px;
}
/* button*/
.third-button{
    position: absolute;
    left: -12px;
    bottom: -106px;


}
#thrd-button{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    color: white;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5px;
    border: none;

}

#thrd-button span{
    font-weight: 700;
    font-size: 65px;

}

/* fact section */

.facts{
    height: 220px;
    margin-bottom: 10px;
    margin-left: 32px;
}
.fatcs-title{
    font-weight: 700;
    font-size: 45px;
}
.facts-details{
    width: 550px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* Award section */
.award{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

}
.award-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: all 0.7s;
}
.award-box:hover{
    transform: scale(1.3);
}
.award-box img{
    margin-top: 4px;
    width: 45px;
    height: 45px;
    
  
}

.award-box h2{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.award-box p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-bottom:20px ;
    margin-top: 5px;
}

/* latest project */
.container{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.section-title{
    font-weight: 700;
    font-size: 45px;
}
.projects{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 10px;
}
.project{
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 8px;
    transition: 0.3s;
}
.project:hover{
    transform: scale(1.3);
    border: 3px dashed rebeccapurple;
}

.project .project-banner img{
    width: 225px;
    height: 150px;
    border: none;
    border-radius: 8px;
}

/* Sponsor section */
/* text */

.sponsor-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsor-text{
    text-align: center;
}
.sponsor-text-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsor-text-paragraph{
    width: 500px;
    height: 50px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.sponsor-text-paragraph:hover{
    transform: scale(1.3);
}
/* logo */

.sponsor-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
    margin-bottom: 130px;
}
.logo img{
    filter: grayscale(100%);
    width: 150px;
    height: 50px;
}
.logo img:hover{
    transform: scale(1.3);
    filter: none;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
}
.footer-text{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;


}
/* for Mobile  screen*/
@media screen and (max-width:576px) {
    /* 1st section */
    .header{
        flex-direction: column;
        width: 100%;
    }
    .menu{
        flex-direction: column;
        margin-top: 10px;
    }
    .menu ul{
        flex-direction: column;
    }
    .first-section{
        width: 100%;
    }
    .first-section-texts{
        width: 100%;
    }
    .first-section-texts .first-section-text{
        width: 100%;
        height: auto;
    }
    .first-section-img img {
        width: 100%;
        height: 100%;
    }
    /* 2nd section */

    .second-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .grid-images{
        grid-template-columns: repeat(1, 100%);
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .grid-images img{
        width: 95%;
        margin: 0 auto;
    }
    .second-section-texts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .second-section-paragraph{
        width: 100%;
        padding: 0;
        height: auto;
    }

    /* 3rd section */

    .third-section{
        flex-direction: column;
        width: 100%;
    }
    .third-section-texts {
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .third-section-textbox{
        width: 90%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .textbox-details{
        text-align: center;
    }
    .third-section-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .third-section-images img{
        width: 95%;
        margin-left: 40px;
    }
    .third-button {
        margin-top: 10px;
        margin-left: 30px;
        position: unset;
    }
    #thrd-button{
        width: 300px;
        height: auto;
    }

    /* Facts */
    .facts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-left: 0px;
}
    .facts-details{
        text-align: center;
        width: 100%;
    }
    /* Award */
    .award{
        flex-direction: column;
    }
    .award-box{
        margin-top: 10px ;
    }
    /* projects */
    .projects{
        flex-direction: column;
        
    }
    .container{
        padding: 0;
    }
    /* sponsor */
    .sponsor-text{
        width: 90%;
    }
    .sponsor-text-paragraph{
        width: 100%;
    }
    /* logo */
    .sponsor-logos{
        flex-direction: column;
        height: auto;
    }


    }